<header>
	<div class="wrapper">
		<img src="images/AnguitarHero.png" class="logo"/>
		<button class="btn btn-large" ng-click="start()">Start</button>
		<button class="btn btn-large" ng-click="pause()">Pause</button>
		<button class="btn btn-large" ng-click="stop()">Stop</button>
	</div>
</header>

<div class="main">
    <div class="main_track">
        <div class="track" ref="0">
        </div>
        <div class="track" ref="1">
        </div>
        <div class="track" ref="2">
        </div>
        <div class="track" ref="3">

        </div>
    </div>
</div>
<footer>
	<div class="wrapper">
	    <div>Score : <span id="currentScore">{{score}}</span></div>
	</div>
</footer>

<audio style="display: none"></audio>
